/* This is a CSS Comment */
/* CSS RESET - Applied to everything */
* {
    margin: 0;
    padding: 0;
}

/* This block targets the <body> */
body {
    background-color: #a0a2f3;
    font-family: Jost, Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6; /* separates lines for readability */
    padding: 3em;
}

/* GROUP SELECTOR */
h1, h2, h3, h4, h5, h6 {
    font-family: 'BBH Sans Bogle', sans-serif;
    margin-bottom: 0.5em; /* scales with font size */
}

/* Overrides H1 */
h1 {
    text-align: center;
}

section {
    background-color: rgba(255, 255, 255, .4);
    border-style: groove;
    border-width: 20px;
    border-color: #7375b3;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* crops the extra parts of the image */
    object-position: center;
    /* moves it to the center of the box */
    border-radius: 100%;
}

ul, ol {
    margin-left: 1em;
}

/* Targets a link inside nav */
nav a {
    color: rgb(88, 63, 16);
    text-decoration: none;
}