/* Imports the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables for this website */
:root {
    --primary: #7b4b2d;
    --light: #ffffff;
    --dark: #363029;
    --muted: #f8f6f5;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    margin-bottom: 0.5rem;
}

/*********************** COLORS ***********************/
.bg-primary { background-color: var(--primary); } /* var() looks for a variable */
.bg-light { background-color: var(--light); }
.bg-dark { background-color: var(--dark); }
.bg-muted { background-color: var(--muted); }

.text-primary { color: var(--primary); }
.text-light { color: var(--light); }
.text-dark { color: var(--dark); }
.text-muted { color: var(--muted); }


/*********************** SWATCHES ***********************/
.swatches {
    display: flex; /* organizes children elements in a line */
    gap: 1rem;
}

.swatch .swatch-value {
    aspect-ratio: 1 / 1;
    width: 4rem; /* em - Root font size (16px) */
    border-radius: 100%;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-name {
    text-align: center;
}